ScaleFocus.Training.DataFactory/pipeline/pl_INGEST_PAYMENTS.json
{
	"name": "pl_INGEST_PAYMENTS",
	"properties": {
		"activities": [
			{
				"name": "Get Params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_payments_params",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Ingest Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.windowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.windowEnd",
								"type": "Expression"
							},
							"wildcardFolderPath": "*",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EnqueuedTimeUtc']"
								},
								"sink": {
									"name": "EnqueuedTimeUtc",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_payments",
						"type": "DatasetReference",
						"parameters": {
							"paymentsContainer": {
								"value": "@activity('Get Params').output.firstRow.PaymentContainer",
								"type": "Expression"
							},
							"paymentsRootFolder": {
								"value": "@activity('Get Params').output.firstRow.PaymentRootFolder",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ingestion_payments",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@activity('Get Params').output.firstRow.SchemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@activity('Get Params').output.firstRow.IngestionTableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}